* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue";
}

html,
body {
    overflow-x: hidden;
    width: 100vw;
}

.header {
    background-image: linear-gradient(to right, rgba(74, 74, 154, 0.7), rgba(22, 22, 34, 0.7)), url(../images/achtergrond.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}

.work {
    background-image: linear-gradient(to right, rgba(74, 74, 154, 0.7), rgba(22, 22, 34, 0.7)), url(../images/work.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}

.start {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 50vh;
}

.start h1,
h2 {
    color: white;
}

.start h1 {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
}

.start h2 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    background-color: #1858A1;
    min-height: 8vh;
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0 8px 7px 0 rgba(0, 0, 0, .2);
}

header nav > ul {
    display: flex;
    position: fixed;
    height: 92vh;
    /* zorgt voor max screen size 100 vh */
    top: 8vh;
    background-color: rgba(24, 88, 161, 0.9);
    flex-direction: column;
    width: 100%;
    right: -100%;
    transition: right 0.3s ease-in;
    text-align: center;
    justify-content: space-around;
}

header nav ul li {
    width: 18rem;
    margin: 0 auto;
    list-style: none;
    padding: 1rem 0 1rem 1.5rem;
}

header nav ul li a {
    font-family: "Verdana";
    color: #F9F4C7;
    text-decoration: none;
    font-size: 30px;
}

header nav ul li a:hover {
    opacity: 0.6;
}

.work .burger, .menu .burger, .header .burger {
    background: #E7E7ED;
    display: inline-block;
    border-radius: 50%;
    padding: 0.6rem 0.5rem;
    margin: 0.5rem;
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
}

/*CLASS vanwege JS*/
.burger div {
    width: 1.5rem;
    height: .2rem;
    margin: .3rem;
    background-color: black;
    transition: all 0.3s ease;
}

/*CLASS die toegevoegd wordt bij klikken (Zie JS)*/
.nav-active {
    right: 0;
}

/*.Toggle wordt toegevoegd aan hamburger menu voor animatie*/
.toggle div:nth-child(1) {
    transform: rotate(-45deg) translate(-4.5px, 5.5px);
}

.toggle div:nth-child(2) {
    opacity: 0;
}

.toggle div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/*MAIN*/
main {
    margin: 4.5rem auto 1.5rem auto;
    width: 18.5rem;
}

main h3 {
    background-color: #1858A1;
    color: white;
    padding: 0.5rem;
    font-size: 16px;
}

main .vaktitel {
    margin-top: 8rem;
    margin-bottom: 1rem;
    text-align: center;
    
}

main div {
    display: flex;
    flex-wrap: wrap;
}

main article {
    /*    margin: 1.5rem 0 1.5rem 0;*/
    padding: 0.9rem 0;
    display: flex;
    border-bottom: 1px solid #c2c2c2;
    width: 100%;
}

main article a {
    text-decoration: none;
}

main article img {
    width: auto;
    height: 3.5rem;
    padding-right: 1.5rem;
    margin: auto 0;
}

main article div h4 {
    color: #024F98;
    font-weight: bold;
    font-size: 13px;
    width: 100%;
}

main article div p {
    display: none;
    line-height: 1.5rem;
    font-family: "Verdana";
    font-size: 13px;
    color: black;
}

main article div p span {
    font-size: 15px;
    color: blue;
}

main article a:hover {
    opacity: 0.6;
}

/*Vakken*/
main .uitleg a {
    margin: 0.5rem auto;
    font-size: 20px;
    padding: 0.5rem;
    background-color: #1858A1;
    color: white;
}

main .uitleg a:hover {
    opacity: 0.6;
}

/*over mij*/
main embed {
    width: 100%;
    height: 600px;
}

/*FOOTER*/



/*FORMULIER*/

main form > section {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    width: 14rem;
    margin: auto;
}

main form > section > label {
    margin: 0.1rem 0;
    font-weight: bold;
    font-size: 13px;
    padding-top: 0.5rem;
}

main form > section > div {
    flex-direction: row;
    padding: 0;
    flex-wrap: nowrap;
}

main form > section input {
    padding: 0.3rem;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #bbb;
}

main form > section input:focus {
    background-color: #D1DFF1;
    border: 1.5px solid #3B6985;
}

main form > input {
    padding: 0.3rem 2rem;
    border-radius: 3px;
    border: 1px solid;
    background-color: #1858A1;
    color: white;
    display: block;
    margin: auto;
}

main form section:nth-child(1) input:nth-of-type(2) {
    width: 5rem;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 480px) {

    /*
    header > div:first-child {    
        height: 7.5rem;    
    }
*/

    header nav ul li {
        width: 27rem;
    }

    main {
        width: 27.5rem;
    }

    /*ARTICLE*/

    main article div h4 {
        font-size: 15px;
    }

    main article img {
        height: 4.5rem;
    }

}

@media screen and (min-width: 720px) {

    /*
    header > div:first-child {    
        height: 11.25rem;    
    }    
*/
    header nav ul li {
        width: 41rem;
    }

    .start h1 {
        font-size: 3.2rem;
        letter-spacing: 0.7rem;
    }

    .start h2 {
        font-size: 2.2rem;
        letter-spacing: 0.4rem;
    }

    main {
        width: 41.5rem;
    }
    
    .uitleg, .vaktitel {
        width: 41.5rem;
        margin: auto;
    }

    main h3 {
        font-size: 18px;
    }

    /*ARTICLE*/

    main article {
        width: 50%;
        border-bottom: none;
        flex-direction: column;
    }

    main article img {
        height: 12.5rem;
        padding: 0;
        margin: 0 auto;
    }

    main article div {
        padding: 1rem;
    }

    main article div h4 {
        font-size: 16px;
    }

    main article div p {
        display: block;
    }


    /*FORMULIER*/

    main form section {
        width: 20rem;
    }

    main form section label {
        font-size: 15px;
    }

    main form section input {
        padding: 0.5rem;
        font-size: 14px;
    }

    main form > input {
        padding: 0.5rem 3rem;
        border-radius: 3px;
        font-size: 15px;
    }

}

@media screen and (min-width: 960px) {

    /*
    header > div:first-child {    
        height: 15rem;    
    }
*/

    header nav {
        min-height: 10vh;
    }
    
    header nav ul li {
        width: 55rem;
    }

    main {
        width: 55.5rem;
    }

    /*ARTICLE*/

    main article {
        width: 33%;
    }

    main article div h4 {
        font-size: 18px;
    }

    main article div p {
        font-size: 14px;
    }

}

@media screen and (min-width: 1200px) {

    .work .burger, .menu .burger, .header .burger {
        display: none;
    }

    header nav ul {
        right: 0;
        flex-direction: row;
        position: relative;
        height: 3.75rem;
        top: 0;
    }

    header nav ul li {
        width: auto;
        padding: 0;
        border-top: none;
        margin: auto 0;
    }

    header nav ul li a {
        padding: 1.3rem 1rem 1.1rem 1rem;
        font-size: 25px;
        text-align: center;
    }

    .start h1 {
        font-size: 3.75rem;
        letter-spacing: 1rem;
    }

    .start h2 {
        font-size: 2.5rem;
        letter-spacing: 0.5rem;
    }

    /*
    header > div:first-child {    
        height: 18.75rem;    
    }
*/

    main {
        width: 69.5rem;
    }

    main h3 {
        font-size: 21px;
    }

    /*ARTICLE*/

    main article div h4 {
        font-size: 21px;
    }

}

@media screen and (min-width: 1440px) {

    /*
    header > div:first-child {    
        height: 22.5rem;    
    }
*/

    main {
        width: 83.5rem;
    }

}
